/* ==========================================================================
   Import CSS Files
   ========================================================================== */
/**
 * Do not add any CSS declaration (except CSS comments) before this line.
 */
@import url("https://cdn2.hubspot.net/hubfs/2396304/font-awesome/5.8.1/css/all.css");
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|PT+Mono);
@font-face {
  font-family: 'Santral';
  src: url("https://f.hubspotusercontent30.net/hubfs/4188535/Textile%20Brand/fonts/592d91c977d1db4322b6c73d_Santral%20Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Santral';
  src: url("https://f.hubspotusercontent30.net/hubfs/4188535/Textile%20Brand/fonts/592d91c9e7a6b9430e50957b_Santral%20Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Santral';
  src: url("https://f.hubspotusercontent30.net/hubfs/4188535/Textile%20Brand/fonts/592d91c92940516ee2550f92_Santral%20Book%20Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Santral';
  src: url("https://f.hubspotusercontent30.net/hubfs/4188535/Textile%20Brand/fonts/592d91ca9b3b9e5897cab627_Santral%20Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Santral';
  src: url("https://f.hubspotusercontent30.net/hubfs/4188535/Textile%20Brand/fonts/592d91ca2940516ee2550f93_Santral%20ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Santral';
  src: url("https://f.hubspotusercontent30.net/hubfs/4188535/Textile%20Brand/fonts/592d91ca15e9c76ea2f8b85e_Santral%20Light%20Italic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Santral';
  src: url("https://f.hubspotusercontent30.net/hubfs/4188535/Textile%20Brand/fonts/592d91ca77d1db4322b6c740_Santral%20ExtraLight%20Italic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Santral';
  src: url("https://f.hubspotusercontent30.net/hubfs/4188535/Textile%20Brand/fonts/592d91cb343cf932d3321761_Santral%20Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Sagona';
  src: url("https://f.hubspotusercontent30.net/hubfs/4188535/Textile%20Brand/fonts/592d9227f82ea71d6235e0c8_Sagona%20Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Sagona';
  src: url("https://f.hubspotusercontent30.net/hubfs/4188535/Textile%20Brand/fonts/592d92271d607d1d72b04071_Sagona%20Book%20Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: auto;
}
@font-face {
  font-family: 'Sagona';
  src: url("https://f.hubspotusercontent30.net/hubfs/4188535/Textile%20Brand/fonts/592d92271d607d1d72b04072_Sagona%20Book.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: 'Santral';
  src: url("https://f.hubspotusercontent30.net/hubfs/4188535/Textile%20Brand/fonts/5954303793e37f3e736a1dd7_Santral%20SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}
/* ==========================================================================
   Normalize
   ========================================================================== */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   HubSpot Recommended
   ========================================================================== */
/* Images */
img {
  max-width: 100%;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: bottom;
  /* Suppress the space beneath the baseline */
}

.img-fw img {
  width: 100% !important;
  height: auto !important;
}

/* Videos */
video {
  max-width: 100%;
  height: auto;
}

/* Embed Container (iFrame, Object, Embed) */
.hs-responsive-embed {
  position: relative;
  height: 0;
  overflow: hidden;
  padding: 0;
  padding-bottom: 56.25%;
}
.hs-responsive-embed iframe, .hs-responsive-embed object, .hs-responsive-embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.hs-responsive-embed-instagram {
  padding-bottom: 116.01%;
}
.hs-responsive-embed-pinterest {
  height: auto;
  overflow: visible;
  padding: 0;
}
.hs-responsive-embed-pinterest iframe {
  position: static;
  width: auto;
  height: auto;
}

iframe {
  max-width: 100%;
}
iframe[src^="http://www.slideshare.net/slideshow/embed_code/"] {
  width: 100%;
}

/* Space Module */
.widget-type-space {
  visibility: hidden;
}

/* responsive pre elements */
pre {
  overflow-x: auto;
}
table pre {
  white-space: pre-wrap;
}

/* Visibilty Classes */
.hide {
  display: none;
}

.show {
  display: block;
}

.invisible {
  visibility: hidden;
}

.hidden {
  display: none;
  visibility: hidden;
}

/* Responsive Visibilty Classes */
.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }

  .hidden-phone {
    display: none !important;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 1139px) {
  .visible-tablet {
    display: inherit !important;
  }

  .hidden-tablet {
    display: none !important;
  }

  .hidden-desktop {
    display: inherit !important;
  }

  .visible-desktop {
    display: none !important;
  }
}
/* ==========================================================================
   Menus
   ========================================================================== */
.hs-menu-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hs-menu-wrapper a {
  display: block;
}
.hs-menu-wrapper.flyouts .hs-menu-item {
  position: relative;
}
@media only screen and (min-width: 992px) {
  .hs-menu-wrapper.flyouts .hs-menu-item:hover > .hs-menu-children-wrapper {
    opacity: 1;
    visibility: visible;
  }
}
.hs-menu-wrapper.flyouts .hs-menu-children-wrapper {
  margin-left: 1em;
}
@media only screen and (min-width: 992px) {
  .hs-menu-wrapper.flyouts .hs-menu-children-wrapper {
    margin-left: 0;
    position: absolute;
    left: 0;
    top: 100%;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s;
  }
  .hs-menu-wrapper.flyouts .hs-menu-children-wrapper .hs-menu-children-wrapper {
    left: 100%;
    top: 0;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.slick-dots li {
  display: inline-block;
  line-height: 20px;
  padding: 15px 0;
  opacity: 0.3;
}
.slick-dots li + li {
  margin-left: 0.125em;
}
.slick-dots li button {
  height: 20px;
  width: 20px;
  position: relative;
  background: none;
  border: 0;
  cursor: pointer;
  text-indent: -999em;
  outline: 0;
}
.slick-dots li button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: #292d31;
}
.slick-dots li.slick-active {
  opacity: 1;
}

/* ==========================================================================
   Base
   ========================================================================== */
html {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background: #fff;
  -ms-overflow-style: scrollbar;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  box-sizing: inherit;
  background-repeat: inherit;
}

@media only screen and (max-width: 767px) {
  html {
    height: 100%;
  }

  body {
    min-height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
}
html,
body {
  color: #292d31;
  font-family: Santral, "Trebuchet MS", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #333333;
}

::-moz-selection {
  background-color: rgba(41, 45, 49, 0.8);
  color: #fff;
}

::selection {
  background-color: rgba(41, 45, 49, 0.8);
  color: #fff;
}

a {
  color: #ed1769;
  text-decoration: none;
  transition: .2s color, .2s background-color;
}
a:hover {
  color: #c20f54;
  text-decoration: underline;
}

hr {
  border: 0;
  color: inherit;
  border-top: 2px solid;
  background: none;
  height: 0;
  width: 80%;
  max-width: 145px;
  margin: 1em auto;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/* Basic text */
p {
  margin: 0 0 1em;
}

address {
  font-style: normal;
}

abbr[title] {
  border-bottom: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 1.5em;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
  color: #ed1769;
  text-decoration: underline;
}

h1 {
  font-family: Sagona,Georgia,sans-serif;
  font-size: 3rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0.67em;
}

h2 {
  font-family: Sagona,Georgia,sans-serif;
  font-size: 2.75rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0.83em;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.95em;
}

/* Lists */
ul, ol {
  margin: 0 0 1em;
}

li ul,
li ol {
  margin-bottom: 0;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

/* Quotes */
blockquote, q {
  display: block;
}

/* Code & Preformatted */
code,
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

pre {
  font-family: inherit;
}

code {
  font-family: 'PT Mono', monospace;
  font-size: 12px;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.container-narrow {
  max-width: 760px !important;
}

/* ==========================================================================
   Buttons
   ========================================================================== */
a[class*="button--"] {
  display: inline-block;
  line-height: 1em;
  outline: 0;
  padding: 1em 1.5em;
  font-size: 14px;
  font-weight: 600;
  text-shadow: none;
  text-transform: uppercase;
  transition: .2s;
  white-space: nowrap;
  border-radius: 50px;
}
a[class*="button--"].ghost {
  background: transparent;
  border: 1px solid;
}
a[class*="button--"]:hover {
  text-decoration: none;
}
a[class*="button--"].large {
  padding: 1.5em 2em;
  font-size: 14px;
}

.button--base {
  background: #292d31;
  border: 1px solid #292d31;
  color: #fff;
}
.button--base:hover {
  background: #1d2023;
  border-color: #1d2023;
  color: #fff;
}
.button--base.ghost {
  color: #292d31;
  border-color: #dcdfe0 !important;
}
.button--base.ghost:hover {
  color: #fff;
  background: #292d31;
  border-color: #292d31 !important;
}
.button--cerise {
  background: #EE2D69;
  border: 1px solid #EE2D69;
  color: #fff;
}
.button--cerise:hover {
  background: #ec1558;
  border-color: #ec1558;
  color: #fff;
}
.button--cerise.ghost {
  color: #EE2D69;
}
.button--cerise.ghost:hover {
  color: #fff;
  background: #EE2D69;
  border-color: #EE2D69;
}
.button--cirrus {
  background: #75CFEB;
  border: 1px solid #75CFEB;
  color: #fff;
}
.button--cirrus:hover {
  background: #5fc7e8;
  border-color: #5fc7e8;
  color: #fff;
}
.button--cirrus.ghost {
  color: #75CFEB;
}
.button--cirrus.ghost:hover {
  color: #fff;
  background: #75CFEB;
  border-color: #75CFEB;
}
.button--mint {
  background: #97E3BF;
  border: 1px solid #97E3BF;
  color: #fff;
}
.button--mint:hover {
  background: #83deb3;
  border-color: #83deb3;
  color: #fff;
}
.button--mint.ghost {
  color: #97E3BF;
}
.button--mint.ghost:hover {
  color: #fff;
  background: #97E3BF;
  border-color: #97E3BF;
}
.button--slate {
  background: #292E31;
  border: 1px solid #292E31;
  color: #fff;
}
.button--slate:hover {
  background: #1d2123;
  border-color: #1d2123;
  color: #fff;
}
.button--slate.ghost {
  color: #292E31;
}
.button--slate.ghost:hover {
  color: #fff;
  background: #292E31;
  border-color: #292E31;
}
.button--white {
  background: #fff;
  border: 1px solid #fff;
  color: #EE2D69;
}
.button--white:hover {
  background: #fff;
  border-color: #fff;
  color: #EE2D69;
}
.button--white.ghost {
  color: #fff;
}
.button--white.ghost:hover {
  color: #EE2D69;
  background: #fff;
  border-color: #fff;
}

.buttons-container a[class*="button--"] {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
  margin-right: 0.625rem;
}
.buttons-container a[class*="button--"]:last-of-type {
  margin-right: 0 !important;
}
.buttons-container .hs-cta-wrapper {
  margin-right: 0.625rem;
}
.buttons-container .hs-cta-wrapper:last-of-type {
  margin-right: 0 !important;
}

/* ==========================================================================
   Forms
   ========================================================================== */
.hs-form input,
.hs-form select,
.hs-form textarea {
  font-family: inherit;
}
.hs-form .hs-form-field {
  margin-bottom: 2rem !important;
}
.hs-form .hs-form-field > label {
  display: inline-block;
  font-weight: 700;
  margin-bottom: 1rem;
}
.hs-form .hs-form-field > legend.hs-field-desc {
  display: block;
  color: #b8b8b8;
  margin-bottom: 1rem;
}
.hs-form .hs-form-required {
  color: #EE2D69;
}
.hs-form ul, .hs-form ol {
  list-style-type: none;
  padding: 0;
}
.hs-form .hs-error-msgs {
  font-size: 0.625em;
  margin: 4px 0 0;
  color: #EE2D69;
}
.hs-form .hs-error-msgs li {
  background: none;
  padding: 0;
}
.hs-form .hs-error-msgs label {
  font-size: inherit;
  margin: 0;
  color: inherit;
}
.hs-form fieldset[class*=form-columns] {
  max-width: none !important;
  border: 0;
  margin-left: -15px;
  margin-right: -15px;
  padding: 0;
}
.hs-form fieldset[class*=form-columns] .input {
  margin-right: 0 !important;
}
.hs-form fieldset[class*=form-columns] .hs-form-field {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  float: none;
  min-height: 0;
  margin-left: 0;
}
@media only screen and (max-width: 767px) {
  .hs-form fieldset[class*=form-columns] .hs-form-field {
    float: none !important;
    width: 100% !important;
  }
}
.hs-form fieldset[class*=form-columns].form-columns-1 .hs-form-field {
  width: 100%;
}
.hs-form fieldset[class*=form-columns].form-columns-2 .hs-form-field {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: 50%;
}
.hs-form fieldset[class*=form-columns].form-columns-3 .hs-form-field {
  -ms-flex: 0 0 33.3333333333%;
      flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.hs-form input[type="text"], .hs-form input[type="password"], .hs-form input[type="datetime"], .hs-form input[type="datetime-local"], .hs-form input[type="date"], .hs-form input[type="month"], .hs-form input[type="time"], .hs-form input[type="week"], .hs-form input[type="number"], .hs-form input[type="email"], .hs-form input[type="url"], .hs-form input[type="search"], .hs-form input[type="tel"], .hs-form input[type="color"], .hs-form input[type="file"], .hs-form textarea, .hs-form select {
  width: 100% !important;
  border: 1px solid #dcdfe0;
  border-radius: 4px;
  font-size: 0.9375em;
  line-height: 16px;
  outline: 0;
  transition: .2s border-color;
  padding: 12px;
  background: #fff;
  color: #292d31;
}
.hs-form input[type="text"][required]:focus, .hs-form input[type="password"][required]:focus, .hs-form input[type="datetime"][required]:focus, .hs-form input[type="datetime-local"][required]:focus, .hs-form input[type="date"][required]:focus, .hs-form input[type="month"][required]:focus, .hs-form input[type="time"][required]:focus, .hs-form input[type="week"][required]:focus, .hs-form input[type="number"][required]:focus, .hs-form input[type="email"][required]:focus, .hs-form input[type="url"][required]:focus, .hs-form input[type="search"][required]:focus, .hs-form input[type="tel"][required]:focus, .hs-form input[type="color"][required]:focus, .hs-form input[type="file"][required]:focus, .hs-form textarea[required]:focus, .hs-form select[required]:focus {
  border-color: #EE2D69;
}
.hs-form input[type="checkbox"], .hs-form input[type="radio"] {
  margin-right: 0.5em;
  vertical-align: middle;
  height: auto;
  width: auto;
}
.hs-form select {
  height: 48px;
}
.hs-form textarea {
  padding: 0.8em;
  min-height: 6em;
}
.hs-form ul.inputs-list li {
  font-weight: bold;
}
.hs-form ul.inputs-list li span {
  vertical-align: middle;
}
.hs-form ul.inputs-list li + li {
  margin-top: 1em;
}
.hs-form ::-moz-placeholder {
  color: #292d31;
  opacity: 0.8;
}
.hs-form :-ms-input-placeholder {
  color: #292d31;
  opacity: 0.8;
}
.hs-form ::placeholder {
  color: #292d31;
  opacity: 0.8;
}
.hs-form input[type='submit'],
.hs-form a.hs-button {
  border: 0;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  min-width: 140px;
  padding: 15px 1.5em;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  text-shadow: none;
  text-transform: uppercase;
  transition: .2s;
  white-space: nowrap;
  border-radius: 4px;
  background: #EE2D69;
  color: #fff;
}
.hs-form input[type='submit']:hover,
.hs-form a.hs-button:hover {
  background: #d7114f;
  text-decoration: none;
}

/* ==========================================================================
   August -- Page Layouts
   ========================================================================== */
/* Main Content Grid ============================= */
.content-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  overflow: auto;
}
.content-wrapper *:last-child {
  margin-bottom: 0;
}
.content-wrapper .page-header {
  padding: 40px 40px 20px;
  font-size: 2.25em;
  font-weight: 500;
}
.content-wrapper .page-header h1 {
  font-size: 3.75rem;
  text-transform: uppercase;
  margin: 0;
}
.content-wrapper .page-header h1 + p:before {
  content: '';
  display: block;
  height: 2px;
  width: 145px;
  background: #292E31;
  margin: 0.75em auto;
}
.content-wrapper .page-content {
  padding: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex: 1;
      flex: 1;
  font-size: 1.5em;
}
.content-wrapper .page-content .page-content__wrapper {
  width: 100%;
}
.content-wrapper .page-footer {
  padding: 20px 40px;
  font-size: 1.75em;
  font-weight: 500;
}
.content-wrapper .page-footer p {
  margin: 0;
}
.content-wrapper .page-footer strong {
  font-size: 2.25rem;
  font-weight: 500;
}
.content-wrapper.theme_cerise .page-footer {
  background: #EE2D69;
  color: #fff;
}
.content-wrapper.theme_cirrus .page-footer {
  background: #75CFEB;
  color: #fff;
}
.content-wrapper.theme_slate .page-footer {
  background: #292E31;
  color: #fff;
}
.content-wrapper.theme_bone .page-footer {
  background: #ECEDEB;
  color: #fff;
}
.content-wrapper.theme_mint .page-footer {
  background: #97E3BF;
  color: #fff;
}
.content-wrapper.theme_iron .page-footer {
  background: #999999;
  color: #fff;
}

/* 800x1080 specific styles ====================== */
#wrapper_800x1080 {
  height: 1080px;
  width: 800px;
  background: #fefefe;
}
#wrapper_800x1080 .page-header {
  padding-bottom: 0;
}
#wrapper_800x1080 .page-content {
  padding: 20px 40px;
}
#wrapper_800x1080 .page-content__image + .page-content__body {
  margin-top: 1em;
}
#wrapper_800x1080.theme_cerise .page-header h1 {
  color: #EE2D69;
}
#wrapper_800x1080.theme_cerise .page-header h1 + p:before {
  background: #EE2D69;
}
#wrapper_800x1080.theme_cerise hr {
  color: #EE2D69;
}
#wrapper_800x1080.theme_cirrus .page-header h1 {
  color: #75CFEB;
}
#wrapper_800x1080.theme_cirrus .page-header h1 + p:before {
  background: #75CFEB;
}
#wrapper_800x1080.theme_cirrus hr {
  color: #75CFEB;
}
#wrapper_800x1080.theme_slate .page-header h1 {
  color: #292E31;
}
#wrapper_800x1080.theme_slate .page-header h1 + p:before {
  background: #292E31;
}
#wrapper_800x1080.theme_slate hr {
  color: #292E31;
}
#wrapper_800x1080.theme_bone .page-header h1 {
  color: #ECEDEB;
}
#wrapper_800x1080.theme_bone .page-header h1 + p:before {
  background: #ECEDEB;
}
#wrapper_800x1080.theme_bone hr {
  color: #ECEDEB;
}
#wrapper_800x1080.theme_mint .page-header h1 {
  color: #97E3BF;
}
#wrapper_800x1080.theme_mint .page-header h1 + p:before {
  background: #97E3BF;
}
#wrapper_800x1080.theme_mint hr {
  color: #97E3BF;
}
#wrapper_800x1080.theme_iron .page-header h1 {
  color: #999999;
}
#wrapper_800x1080.theme_iron .page-header h1 + p:before {
  background: #999999;
}
#wrapper_800x1080.theme_iron hr {
  color: #999999;
}

/* 1920x1080 specific styles ===================== */
#wrapper_1920x1080 {
  height: 1080px;
  width: 1920px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#wrapper_1920x1080 .content-wrapper-container {
  width: 1580px;
  margin: 0 auto;
}
#wrapper_1920x1080 .page-header .textile-logo {
  display: inline-block;
  width: 122px;
}
#wrapper_1920x1080 .page-content {
  background: rgba(255, 255, 255, 0.75);
}
#wrapper_1920x1080 .page-content__wrapper {
  width: 100%;
}
#wrapper_1920x1080 .page-content .schedule-heading {
  margin: 0 0 15px;
  text-transform: uppercase;
}
#wrapper_1920x1080 .page-footer {
  min-height: 170px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
#wrapper_1920x1080 .page-footer .content-wrapper-container {
  position: relative;
  padding: 0 260px;
}
#wrapper_1920x1080 .page-footer .footer-logo {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 245px;
}
#wrapper_1920x1080 .schedule-labels {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin-bottom: 20px;
}
#wrapper_1920x1080 .schedule-labels .schedule-labels__item {
  width: calc(100% / 5);
  font-size: 1.125rem;
  text-transform: uppercase;
  line-height: 40px;
}
#wrapper_1920x1080 .schedule-days {
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  font-size: 1rem;
}
#wrapper_1920x1080 .schedule-days .schedule-days__item {
  width: calc(100% / 5);
  padding: 0 10px;
}
#wrapper_1920x1080 .schedule-days .schedule-days__wrapper {
  height: 100%;
  padding: 30px;
  background: #fff;
}
#wrapper_1920x1080 .schedule-days ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#wrapper_1920x1080 .schedule-days ul li + li {
  margin-top: 30px;
}
#wrapper_1920x1080 .schedule-days hr {
  color: inherit;
  border-top: 2px solid;
  background: none;
  height: 0;
  width: 80%;
  margin: 1rem auto;
}
#wrapper_1920x1080 .schedule-days h2 {
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
}
#wrapper_1920x1080 .schedule-days h2 + hr {
  margin: 1rem auto 2.5rem;
}
#wrapper_1920x1080 .schedule-days h4 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}
#wrapper_1920x1080.theme_cerise .page-header h1 + p:before {
  background: #EE2D69;
}
#wrapper_1920x1080.theme_cerise .page-header .textile-logo .color-fill {
  fill: #EE2D69;
}
#wrapper_1920x1080.theme_cerise .page-header,
#wrapper_1920x1080.theme_cerise .page-content {
  color: #EE2D69;
}
#wrapper_1920x1080.theme_cerise .schedule-labels {
  background: #EE2D69;
}
#wrapper_1920x1080.theme_cirrus .page-header h1 + p:before {
  background: #75CFEB;
}
#wrapper_1920x1080.theme_cirrus .page-header .textile-logo .color-fill {
  fill: #75CFEB;
}
#wrapper_1920x1080.theme_cirrus .page-header,
#wrapper_1920x1080.theme_cirrus .page-content {
  color: #75CFEB;
}
#wrapper_1920x1080.theme_cirrus .schedule-labels {
  background: #75CFEB;
}
#wrapper_1920x1080.theme_slate .page-header h1 + p:before {
  background: #292E31;
}
#wrapper_1920x1080.theme_slate .page-header .textile-logo .color-fill {
  fill: #292E31;
}
#wrapper_1920x1080.theme_slate .page-header,
#wrapper_1920x1080.theme_slate .page-content {
  color: #292E31;
}
#wrapper_1920x1080.theme_slate .schedule-labels {
  background: #292E31;
}
#wrapper_1920x1080.theme_bone .page-header h1 + p:before {
  background: #ECEDEB;
}
#wrapper_1920x1080.theme_bone .page-header .textile-logo .color-fill {
  fill: #ECEDEB;
}
#wrapper_1920x1080.theme_bone .page-header,
#wrapper_1920x1080.theme_bone .page-content {
  color: #ECEDEB;
}
#wrapper_1920x1080.theme_bone .schedule-labels {
  background: #ECEDEB;
}
#wrapper_1920x1080.theme_mint .page-header h1 + p:before {
  background: #97E3BF;
}
#wrapper_1920x1080.theme_mint .page-header .textile-logo .color-fill {
  fill: #97E3BF;
}
#wrapper_1920x1080.theme_mint .page-header,
#wrapper_1920x1080.theme_mint .page-content {
  color: #97E3BF;
}
#wrapper_1920x1080.theme_mint .schedule-labels {
  background: #97E3BF;
}
#wrapper_1920x1080.theme_iron .page-header h1 + p:before {
  background: #999999;
}
#wrapper_1920x1080.theme_iron .page-header .textile-logo .color-fill {
  fill: #999999;
}
#wrapper_1920x1080.theme_iron .page-header,
#wrapper_1920x1080.theme_iron .page-content {
  color: #999999;
}
#wrapper_1920x1080.theme_iron .schedule-labels {
  background: #999999;
}

/* Image + News specific styles ================== */
#wrapper_image_content {
  display: -ms-flexbox;
  display: flex;
  height: 1080px;
  width: 1920px;
}
#wrapper_image_content.image-align__right {
  -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
}
#wrapper_image_content #image_rotator {
  height: 1080px;
  width: 1120px;
}
#wrapper_image_content #image_rotator .image-slides__item {
  height: 1080px;
  width: 1120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
#wrapper_image_content #image_rotator .image-slides > .image-slides__item:nth-child(n+2) {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

/* ==========================================================================
   October -- Page Layouts
   ========================================================================== */
/* Main Content Grid ============================= */
.oct2019_content-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  text-align: center;
  overflow: auto;
}
.oct2019_content-wrapper *:last-child {
  margin-bottom: 0;
}
.oct2019_content-wrapper .page-header .content-wrapper-container,
.oct2019_content-wrapper .page-footer .content-wrapper-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: auto;
  margin-left: -15px;
  margin-right: -15px;
  -ms-flex-align: center;
      align-items: center;
}
.oct2019_content-wrapper .page-header .content-wrapper-container > div,
.oct2019_content-wrapper .page-footer .content-wrapper-container > div {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.oct2019_content-wrapper .page-header .content-wrapper-container .col-1,
.oct2019_content-wrapper .page-footer .content-wrapper-container .col-1 {
  -ms-flex: 0 0 8.3333333333%;
      flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
.oct2019_content-wrapper .page-header .content-wrapper-container .col-2,
.oct2019_content-wrapper .page-footer .content-wrapper-container .col-2 {
  -ms-flex: 0 0 16.6666666667%;
      flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.oct2019_content-wrapper .page-header .content-wrapper-container .col-3,
.oct2019_content-wrapper .page-footer .content-wrapper-container .col-3 {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  max-width: 25%;
}
.oct2019_content-wrapper .page-header .content-wrapper-container .col-4,
.oct2019_content-wrapper .page-footer .content-wrapper-container .col-4 {
  -ms-flex: 0 0 33.3333333333%;
      flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.oct2019_content-wrapper .page-header .content-wrapper-container .col-5,
.oct2019_content-wrapper .page-footer .content-wrapper-container .col-5 {
  -ms-flex: 0 0 41.6666666667%;
      flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.oct2019_content-wrapper .page-header .content-wrapper-container .col-6,
.oct2019_content-wrapper .page-footer .content-wrapper-container .col-6 {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: 50%;
}
.oct2019_content-wrapper .page-header .content-wrapper-container .col-7,
.oct2019_content-wrapper .page-footer .content-wrapper-container .col-7 {
  -ms-flex: 0 0 58.3333333333%;
      flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
.oct2019_content-wrapper .page-header .content-wrapper-container .col-8,
.oct2019_content-wrapper .page-footer .content-wrapper-container .col-8 {
  -ms-flex: 0 0 66.6666666667%;
      flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.oct2019_content-wrapper .page-header .content-wrapper-container .col-9,
.oct2019_content-wrapper .page-footer .content-wrapper-container .col-9 {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  max-width: 75%;
}
.oct2019_content-wrapper .page-header .content-wrapper-container .col-10,
.oct2019_content-wrapper .page-footer .content-wrapper-container .col-10 {
  -ms-flex: 0 0 83.3333333333%;
      flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
.oct2019_content-wrapper .page-header .content-wrapper-container .col-11,
.oct2019_content-wrapper .page-footer .content-wrapper-container .col-11 {
  -ms-flex: 0 0 91.6666666667%;
      flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
.oct2019_content-wrapper .page-header .content-wrapper-container .col-12,
.oct2019_content-wrapper .page-footer .content-wrapper-container .col-12 {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}
.oct2019_content-wrapper .page-content {
  -ms-flex: 1;
      flex: 1;
  font-size: 24px;
}
.oct2019_content-wrapper .page-footer {
  font-size: 20px;
  font-weight: 500;
}
.oct2019_content-wrapper .page-footer p {
  margin: 0;
}
.oct2019_content-wrapper .page-footer strong {
  font-size: 28px;
  font-weight: 500;
}
.oct2019_content-wrapper.theme_cerise .page-header h1 {
  color: #EE2D69;
}
.oct2019_content-wrapper.theme_cerise .page-header .textile-logo .color-fill {
  fill: #EE2D69;
}
.oct2019_content-wrapper.theme_cerise .page-footer {
  background: #EE2D69;
  color: #fff;
}
.oct2019_content-wrapper.theme_cirrus .page-header h1 {
  color: #75CFEB;
}
.oct2019_content-wrapper.theme_cirrus .page-header .textile-logo .color-fill {
  fill: #75CFEB;
}
.oct2019_content-wrapper.theme_cirrus .page-footer {
  background: #75CFEB;
  color: #fff;
}
.oct2019_content-wrapper.theme_mint .page-header h1 {
  color: #97E3BF;
}
.oct2019_content-wrapper.theme_mint .page-header .textile-logo .color-fill {
  fill: #97E3BF;
}
.oct2019_content-wrapper.theme_mint .page-footer {
  background: #97E3BF;
  color: #fff;
}
.oct2019_content-wrapper.theme_bone .page-header h1 {
  color: #ECEDEB;
}
.oct2019_content-wrapper.theme_bone .page-header .textile-logo .color-fill {
  fill: #ECEDEB;
}
.oct2019_content-wrapper.theme_bone .page-footer {
  background: #ECEDEB;
  color: #fff;
}
.oct2019_content-wrapper.theme_slate .page-header h1 {
  color: #292E31;
}
.oct2019_content-wrapper.theme_slate .page-header .textile-logo .color-fill {
  fill: #292E31;
}
.oct2019_content-wrapper.theme_slate .page-footer {
  background: #292E31;
  color: #fff;
}
.oct2019_content-wrapper.theme_iron .page-header h1 {
  color: #999999;
}
.oct2019_content-wrapper.theme_iron .page-header .textile-logo .color-fill {
  fill: #999999;
}
.oct2019_content-wrapper.theme_iron .page-footer {
  background: #999999;
  color: #fff;
}

/* Weekly Schedule Page ============================= */
.page--oct2019_weekly .page-header {
  padding: 50px 100px;
}
.page--oct2019_weekly .page-header .page-header__logo {
  text-align: left;
}
.page--oct2019_weekly .page-header .page-header__logo .clubhouse-logo {
  height: 125px;
}
.page--oct2019_weekly .page-header .page-header__logo .textile-logo {
  width: 100%;
}
.page--oct2019_weekly .page-header .page-header__title {
  text-align: center;
}
.page--oct2019_weekly .page-header .page-header__title h1 {
  font-size: 50px;
  margin: 0;
  text-transform: uppercase;
}
.page--oct2019_weekly .page-header .page-header__space {
  min-height: 1px;
}
.page--oct2019_weekly .page-content {
  padding: 5px 0 50px;
}
.page--oct2019_weekly .page-content .page-content__wrapper {
  height: 100%;
}
.page--oct2019_weekly .page-footer {
  padding: 25px 100px;
}
.page--oct2019_weekly .page-footer .page-footer__logo--right {
  text-align: left;
}
.page--oct2019_weekly .page-footer .page-footer__logo--right img {
  max-width: 245px;
}
.page--oct2019_weekly .page-footer .page-footer__content {
  text-align: center;
}
.page--oct2019_weekly .page-footer .page-footer__logo--left {
  text-align: right;
}
.page--oct2019_weekly .page-footer .page-footer__logo--left img {
  max-width: 245px;
}
.page--oct2019_weekly #weekly_schedule {
  height: 1080px;
  width: 1920px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow-x: hidden;
}
.page--oct2019_weekly #weekly_schedule.has_bg {
  position: relative;
}
.page--oct2019_weekly #weekly_schedule.has_bg .page-header,
.page--oct2019_weekly #weekly_schedule.has_bg .page-content,
.page--oct2019_weekly #weekly_schedule.has_bg .page-footer {
  position: relative;
  z-index: 1;
}
.page--oct2019_weekly #weekly_schedule.has_bg:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 1080px;
  width: 1920px;
  background: rgba(255, 255, 255, 0.75);
}
.page--oct2019_weekly #weekly_schedule.theme_cerise .schedule-labels {
  background: #EE2D69;
}
.page--oct2019_weekly #weekly_schedule.theme_cerise .schedule-days h1, .page--oct2019_weekly #weekly_schedule.theme_cerise .schedule-days hr {
  color: #EE2D69;
}
.page--oct2019_weekly #weekly_schedule.theme_cirrus .schedule-labels {
  background: #75CFEB;
}
.page--oct2019_weekly #weekly_schedule.theme_cirrus .schedule-days h1, .page--oct2019_weekly #weekly_schedule.theme_cirrus .schedule-days hr {
  color: #75CFEB;
}
.page--oct2019_weekly #weekly_schedule.theme_mint .schedule-labels {
  background: #97E3BF;
}
.page--oct2019_weekly #weekly_schedule.theme_mint .schedule-days h1, .page--oct2019_weekly #weekly_schedule.theme_mint .schedule-days hr {
  color: #97E3BF;
}
.page--oct2019_weekly #weekly_schedule.theme_bone .schedule-labels {
  background: #ECEDEB;
}
.page--oct2019_weekly #weekly_schedule.theme_bone .schedule-days h1, .page--oct2019_weekly #weekly_schedule.theme_bone .schedule-days hr {
  color: #ECEDEB;
}
.page--oct2019_weekly #weekly_schedule.theme_slate .schedule-labels {
  background: #292E31;
}
.page--oct2019_weekly #weekly_schedule.theme_slate .schedule-days h1, .page--oct2019_weekly #weekly_schedule.theme_slate .schedule-days hr {
  color: #292E31;
}
.page--oct2019_weekly #weekly_schedule.theme_iron .schedule-labels {
  background: #999999;
}
.page--oct2019_weekly #weekly_schedule.theme_iron .schedule-days h1, .page--oct2019_weekly #weekly_schedule.theme_iron .schedule-days hr {
  color: #999999;
}
.page--oct2019_weekly .schedule-grid {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.page--oct2019_weekly .schedule-grid .schedule-labels {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  margin-bottom: 20px;
}
.page--oct2019_weekly .schedule-grid .schedule-labels .schedule-labels__item {
  max-width: 20%;
  -ms-flex: 0 0 20%;
      flex: 0 0 20%;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 40px;
  text-align: center;
}
.page--oct2019_weekly .schedule-grid .schedule-days {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -10px;
  padding: 0 20px;
  font-size: 16px;
}
.page--oct2019_weekly .schedule-grid .schedule-days h1, .page--oct2019_weekly .schedule-grid .schedule-days h2, .page--oct2019_weekly .schedule-grid .schedule-days h3 {
  line-height: 1.2;
  margin-bottom: 0;
}
.page--oct2019_weekly .schedule-grid .schedule-days h1 {
  font-size: 28px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.page--oct2019_weekly .schedule-grid .schedule-days h2 {
  font-size: 24px;
  margin-bottom: 5px;
}
.page--oct2019_weekly .schedule-grid .schedule-days h3 {
  font-size: 18px;
  font-weight: 500;
}
.page--oct2019_weekly .schedule-grid .schedule-days hr {
  color: inherit;
  border-top: 2px solid;
  background: none;
  height: 0;
  width: 180px;
  margin: 10px auto;
}
.page--oct2019_weekly .schedule-grid .schedule-days .schedule-item + .schedule-item {
  margin-top: 24px;
}
.page--oct2019_weekly .schedule-grid .schedule-days .schedule-days__item {
  padding: 0 10px;
  width: 100%;
  max-width: 20%;
  -ms-flex: 0 0 20%;
      flex: 0 0 20%;
}
.page--oct2019_weekly .schedule-grid .schedule-days .schedule-days__wrapper {
  height: 100%;
  padding: 30px 20px;
  background: #fff;
}
.page--oct2019_weekly .schedule-grid.spacing-2x .schedule-days .schedule-days__item .schedule-item + .schedule-item {
  margin-top: calc(24px * 2.5);
}

/* News Updates Page ============================= */
.page--oct2019_news .page-content .page-content__headline {
  font-size: 36px;
}
.page--oct2019_news .page-content .page-content__headline h1, .page--oct2019_news .page-content .page-content__headline h2, .page--oct2019_news .page-content .page-content__headline h3 {
  line-height: 1.21;
  text-transform: uppercase;
}
.page--oct2019_news .page-content .page-content__headline h1 {
  font-size: 100px;
}
.page--oct2019_news .page-content .page-content__headline h2 {
  font-size: 66px;
}
.page--oct2019_news .page-content .page-content__headline h3 {
  font-size: 48px;
}
.page--oct2019_news .page-header {
  padding: 25px 100px;
}
.page--oct2019_news .page-header .page-header__logo {
  text-align: center;
}
.page--oct2019_news .page-header .page-header__logo .clubhouse-logo,
.page--oct2019_news .page-header .page-header__logo .textile-logo {
  height: 95px;
}
.page--oct2019_news .page-header .page-header__logo .clubhouse-logo .color-fill,
.page--oct2019_news .page-header .page-header__logo .textile-logo .color-fill {
  fill: #fff !important;
}
.page--oct2019_news .page-footer {
  padding: 25px 100px;
  background: #97E3BF !important;
}
.page--oct2019_news .page-footer .page-footer__logo--right {
  text-align: left;
}
.page--oct2019_news .page-footer .page-footer__logo--right img {
  max-width: 245px;
}
.page--oct2019_news .page-footer .page-footer__content {
  text-align: center;
}
.page--oct2019_news .page-footer .page-footer__logo--left {
  text-align: right;
}
.page--oct2019_news .page-footer .page-footer__logo--left img {
  max-width: 245px;
}
.page--oct2019_news #news_headline {
  height: 1080px;
  width: 1920px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  overflow-x: hidden;
}
.page--oct2019_news #news_headline .page-content {
  padding: 50px 250px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.page--oct2019_news #news_headline .page-content__wrapper {
  width: 100%;
}
.page--oct2019_news #news_headline.has_bg {
  position: relative;
}
.page--oct2019_news #news_headline.has_bg .page-header,
.page--oct2019_news #news_headline.has_bg .page-content,
.page--oct2019_news #news_headline.has_bg .page-footer {
  position: relative;
  z-index: 1;
}
.page--oct2019_news #news_headline.has_bg:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  height: 1080px;
  width: 1920px;
  background: rgba(255, 255, 255, 0.75);
}
.page--oct2019_news #news_headline.theme_cerise {
  background-color: #EE2D69;
  color: #fff;
}
.page--oct2019_news #news_headline.theme_cerise.has_bg {
  color: #83deb3;
}
.page--oct2019_news #news_headline.theme_cerise.has_bg .page-content .page-content__headline h1 {
  color: #EE2D69;
}
.page--oct2019_news #news_headline.theme_cirrus {
  background-color: #75CFEB;
  color: #fff;
}
.page--oct2019_news #news_headline.theme_cirrus.has_bg {
  color: #83deb3;
}
.page--oct2019_news #news_headline.theme_cirrus.has_bg .page-content .page-content__headline h1 {
  color: #75CFEB;
}
.page--oct2019_news #news_headline.theme_mint {
  background-color: #97E3BF;
  color: #fff;
}
.page--oct2019_news #news_headline.theme_mint.has_bg {
  color: #83deb3;
}
.page--oct2019_news #news_headline.theme_mint.has_bg .page-content .page-content__headline h1 {
  color: #97E3BF;
}
.page--oct2019_news #news_headline.theme_bone {
  background-color: #ECEDEB;
  color: #fff;
}
.page--oct2019_news #news_headline.theme_bone.has_bg {
  color: #83deb3;
}
.page--oct2019_news #news_headline.theme_bone.has_bg .page-content .page-content__headline h1 {
  color: #ECEDEB;
}
.page--oct2019_news #news_headline.theme_slate {
  background-color: #292E31;
  color: #fff;
}
.page--oct2019_news #news_headline.theme_slate.has_bg {
  color: #83deb3;
}
.page--oct2019_news #news_headline.theme_slate.has_bg .page-content .page-content__headline h1 {
  color: #292E31;
}
.page--oct2019_news #news_headline.theme_iron {
  background-color: #999999;
  color: #fff;
}
.page--oct2019_news #news_headline.theme_iron.has_bg {
  color: #83deb3;
}
.page--oct2019_news #news_headline.theme_iron.has_bg .page-content .page-content__headline h1 {
  color: #999999;
}
.page--oct2019_news #news_headline_split {
  height: 1080px;
  width: 1920px;
  overflow-x: hidden;
  -ms-flex-direction: row;
      flex-direction: row;
}
.page--oct2019_news #news_headline_split .page-header {
  padding: 50px 100px 0;
}
.page--oct2019_news #news_headline_split .page-content {
  padding: 50px 150px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}
.page--oct2019_news #news_headline_split .page-content__wrapper {
  width: 100%;
}
.page--oct2019_news #news_headline_split #image_side {
  height: 1080px;
  width: 834px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.page--oct2019_news #news_headline_split #content_side {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex: 1;
      flex: 1;
}
.page--oct2019_news #news_headline_split.theme_cerise {
  background-color: #EE2D69;
  color: #fff;
}
.page--oct2019_news #news_headline_split.theme_cirrus {
  background-color: #75CFEB;
  color: #fff;
}
.page--oct2019_news #news_headline_split.theme_mint {
  background-color: #97E3BF;
  color: #fff;
}
.page--oct2019_news #news_headline_split.theme_bone {
  background-color: #ECEDEB;
  color: #fff;
}
.page--oct2019_news #news_headline_split.theme_slate {
  background-color: #292E31;
  color: #fff;
}
.page--oct2019_news #news_headline_split.theme_iron {
  background-color: #999999;
  color: #fff;
}
