<section class="content-section content-image-row {{ module.appearance_options.background_color }}{% if module.appearance_options.remove_top_padding %} pt0{% endif %}">
	<div class="container">
		<div class="content-image-row__layout image-align__{{ module.appearance_options.image_align }}">
			{% if module.row_image.src %}<div class="content-image-row__image">
				{% set sizeAttrs = 'width="{{ module.row_image.width }}" height="{{ module.row_image.height }}"' %}
				{% if module.row_image.size_type == 'auto' %}
					{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
				{% elif module.row_image.size_type == 'auto_custom_max' %}
					{% set sizeAttrs = 'width="{{ module.row_image.max_width }}" height="{{ module.row_image.max_height }}" style="max-width: 100%; height: auto;"' %}
				{% endif %}
				 {% set loadingAttr = module.row_image.loading != 'disabled' ? 'loading="{{ module.row_image.loading }}"' : '' %}
				<img src="{{ module.row_image.src }}" alt="{{ module.row_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
			</div>{% endif %}
			<div class="content-image-row__content">
				{{ module.row_content }}
			</div>
		</div>
	</div>
</section>