<section class="content-section {{ module.appearance_options.background_color }}{% if module.appearance_options.remove_top_padding %} pt0{% endif %}{% if module.appearance_options.center_align %} text-align__center{% endif %}">
	<div class="container">
		{% if module.section_intro %}<div class="section-intro">{{ module.section_intro }}</div>{% endif %}
		<div class="three-col__content--row">
			{% for item in module.content_well %}
				<div class="three-col__content--item">
					{% if item.well_image.src %}
					<div class="three-col__content--image">
							{% set sizeAttrs = 'width="{{ item.well_image.width }}"' %}
							{% if item.well_image.size_type == 'auto' %}
								{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
							{% elif item.well_image.size_type == 'auto_custom_max' %}
								{% set sizeAttrs = 'width="{{ item.well_image.max_width }}" style="max-width: 100%; height: auto;"' %}
							{% endif %}
							 {% set loadingAttr = item.well_image.loading != 'disabled' ? 'loading="{{ item.well_image.loading }}"' : '' %}
							<img src="{{ item.well_image.src }}" alt="{{ item.well_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
						{% endif %}
					</div>
					<div class="three-col__content--content">{{ item.well_content }}</div>
				</div>
			{% endfor %}
		</div>
	</div>
</section>