body {
  margin: 0;
  padding: 0;
}

p {
  padding: 0;
  margin: 0;
}
.stanza-hero {
  background-position: 100% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  object-fit: fill;
/*   height: 15vw; */
  padding-left: 4rem;
  height: 300px;
}

.stanza-hero__logo {
  display: block;
  width: 100%;
  height: auto;
}

.stanza-hero__logo-wrapper {
  width: 20vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stanza-id {
  -webkit-font-smoothing: antialiased;
/*   background-color: #0099ff; */
  box-sizing: border-box;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 4rem;
}

.stanza-id__title {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.stanza-id__heading {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #ffffff;
  font-family: Lato, sans-serif;
  font-size: 57px;
  font-weight: 300;
  letter-spacing: 8.55px;
  line-height: 57px;
  margin: 0px;
}

.stanza-id__subhead {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: #ffffff;
  font-family: Heebo, sans-serif;
  font-size: 1.5rem;
  line-height: 1em;
  text-transform: capitalize;
}

.stanza-id__brand {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  opacity: 1;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  /* width: 20vw; */
}

.brand-link {
  cursor: pointer;
  width: 100%;
}

.brand-link__logo {
  box-sizing: border-box;
  width: 100%;
  max-height: 60px;
}

@media screen and (max-width: 768px) {
  .stanza-hero {
    padding-left: 2rem;
    height: 150px;
  }
  .stanza-id__title {
    width: 40vw;
  }

  .stanza-id__brand {
    width: 40vw;
  }
  .stanza-id {
    padding-left: 2rem;
    padding-right: 2rem;
    /* display: block; */
  }
  .stanza-hero__logo-wrapper {
    width: 30vw;
  }
}

@media screen and (max-width: 600px) {
  .stanza-hero {
    padding-left: 1rem;
    height: 125px;
  }
  .stanza-id__title {
    width: 95vw;
  }

  .stanza-id__brand {
    width: 40vw;
  }
  .stanza-id {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .stanza-hero__logo-wrapper {
    width: 30vw;
    display: flex;
    align-items: middle;
  }
  .stanza-id__subhead {
    font-size: 1.5rem;
    margin-bottom: 15px;
    line-height: 1em;
  }
  .stanza-id__heading {
    font-size: 2rem;
    margin-top: -10px;
    line-height: 1.2em;
  }
  .stanza-id {
    padding: 1rem;
  }
}
