<!--
    templateType: email
    label: Textile Email
    isAvailableForNewContent: true
-->

{% extends "/Textile_NovaFlex/emails/parts/textile-email-base.html" %}
{% block email_content %}

{% module "email_hero" path="/Textile_NovaFlex/emails/modules/Textile Email - Hero", label="Textile Email - Hero" %}


<center class="email-center">
	<div class="webkit">
<!--[if (gte mso 9)|(IE)]>
<table width="680" align="center">
<tr>
<td>
<![endif]-->
<table id="main" class="outer" align="center">
	<tr>
		<td id="body">


{% module "email_body" path="/Textile_NovaFlex/emails/modules/Textile Email - Content Sections", label="Textile Email - Content Sections" %}


		</td>
	</tr>
</table>
<!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->
	</div>
</center>


{% endblock %}