<section class="hero-module hero-module__basic hero-module__theme--{{ module.appearance_options.hero_theme }}{% if widget_data.header_overlay.value %} hero-module__overlay{% endif %}" style="background-image: url('{{ module.appearance_options.background_image.src }}');">
	<div class="hero-module__inner">
		<div class="container">
			<div class="hero-module__layout">
				<div class="hero-module__content--wrapper hero-module__contentW--{{ module.appearance_options.content_width }}">
					<div class="hero-module__content{% if module.appearance_options.hero_theme == 'dark' %} text-color__white{% endif %}">
						{{ module.hero_content }}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>