<div id="wrapper_800x1080" class="content-wrapper theme_{{ module.page_theme.theme_choice }}">
	<div class="page-header">
		{{ module.page_header.header }}
	</div>
	<div class="page-content">
		<div class="page-content__wrapper">
			{% if module.content.content_image.src %}
				<div class="page-content__image">
					<img src="{{ module.content.content_image.src }}" alt="{{ module.content.content_image.alt }}" width="{{ module.content.content_image.width }}">
				</div>
			{% endif %}
			{% if module.content.main_content %}
				<div class="page-content__body">
					{{ module.content.main_content }}
				</div>
			{% endif %}
		</div>
	</div>
	<div class="page-footer">
		{{ module.page_footer.footer }}
	</div>
</div>

{% if module.page_options.timeout and module.page_options.navigate_to_url.url.href and request.query_dict.hsDebug != "True" %}
<div class="page-transition" data-timeout="{{ module.page_options.timeout }}" data-location="{{ module.page_options.navigate_to_url.url.href }}"></div>
{% endif %}