<style type="text/css" id="hs-inline-css">
	#outlook a {
		padding: 0;
	}

	body {
		margin: 0;
		padding: 0;
		background-color: #f5f5f5;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}

	table,
	td {
		border-collapse: collapse;
		mso-table-lspace: 0pt;
		mso-table-rspace: 0pt;
	}

	table {
		width: 100%;
		border-spacing: 0;
		margin: 0;
	}
	td {
		padding: 0;
		font-family: 'Source Sans Pro', system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
		font-size: 16px;
		font-weight: 300;
		color: #354052;
		line-height: 1.5;
	}

	img {
		border: 0;
		max-width: 100%;
		vertical-align: baseline;
		height: auto;
		line-height: 100%;
		outline: none;
		text-decoration: none;
		-ms-interpolation-mode: bicubic;
	}

	div[style*="margin: 16px 0"] { 
		margin:0 !important;
	}
	.email-center {
		width: 100%;
		table-layout: fixed;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
	.webkit {
		width: 100%;
		max-width: 680px;
		Margin: 0 auto;
	}
	.outer {
		Margin: 0 auto;
		width: 100%;
		max-width: 680px;
	}

	#header {
		background-color: #ffffff;
	}
	#main {
		background-color: #ffffff;
	}

	.inner {
		padding: 0 15px;
	}
	.contents {
		width: 100%;
		text-align: left;
		font-size: 16px;
		direction: ltr;
	}

	/*Two column layout*/
	.two-column {
		text-align: center;
		font-size: 0;
	}
	.two-column .column {
		width: 100%;
		max-width: 340px;
		display: inline-block;
		vertical-align: top;
	}


	h1, h2, h3, h4 {
		font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
		font-weight: 900;
		text-transform: uppercase;
		color: #4D4C4C;
		line-height: 1;
		margin: 0 0 20px 0;
	}
	p {
		display: block;
		font-size: 16px;
		margin: 0 0 20px 0;
	}
	a {
		color: #FA880D;
		font-weight: bold;
	}
	.vertical-spacer {
		height: 20px;
		font-size: 0;
		line-height: 0;
	}
	.vertical-spacer.x2 {
		height: 40px;
	}


	#header .site-logo {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#header .site-logo img {
		width: 225px;
	}

	#header .social-icons {
		text-align: right;

		padding-top: 10px;
		padding-bottom: 10px;
	}

	#header .social-icons img {
		height: 32px;
	}

	#header .header-two-col .two-column .column {
		vertical-align: middle;
	}
	#header .header-stacked .social-icons {
		color: #ffffff;
		background-color: #030000;
	}

	#header .header-stacked .social-icons img {
		height: 20px;
	}

	#footer .contents {
		text-align: center;
	}
	#footer .social-icons img {
		height: 32px;
	}
	#footer a {
		color: #354052;
	}
	#footer .optout-message {
		margin: 0;
		font-size: 12px;
	}


	#hero .hero-background {
		background-color: #354052;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}

	#hero .site-logo {
		padding-top: 40px;
		padding-bottom: 0;
		text-align: center;
	}
	#hero .site-logo img {
		width: 225px;
	}
	#hero .hero-content {
		color: #ffffff;
		padding-top: 80px;
		padding-bottom: 80px;
		padding-left: 20px;
		padding-right: 20px;
		text-align: center;
	}
	#hero .hero-content.overlay-content {
		padding-top: 40px;
	}
	#hero h1, #hero h2, #hero h3, #hero h4 {
		color: #ffffff;
	}
	#hero h1 {
		font-size: 42px;
	}
	#hero p {
		font-size: 20px;
	}
	#hero .btn-table {
		margin-left: auto;
		margin-right: auto;
	}

	#hero .vertical-spacer {
		background-color: #FA880D;
	}


	.content-row.bg__gray .row-background {
		background-color: #eaeaea;
	}
	.content-row.bg__image .row-background {
		background-color: #354052;
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
	.content-row.bg__image td {
		color: #ffffff;
	}
	.content-row.bg__image h1, .content-row.bg__image h2, .content-row.bg__image h3, .content-row.bg__image h4 {
		color: #ffffff;
	}

	.content-row.img-content-two-col .two-column .column {
		vertical-align: middle;
	}
	.content-row.row-reverse {
		direction: rtl;
	}


	.content-row.two-col-well .content-col, 
	.content-row.full-width-well .content-col {
		padding-top: 20px;
	}




	.btn-table {
		width: auto;
	}
	.btn-table.btn-center {
		margin-left: auto;
		margin-right: auto;
	}
	.btn-td {
		border-radius: 3px;
		background-color: #FA880D;

		font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
		font-size: 14px;
		font-weight: 900;
		text-transform: uppercase;
		font-weight: 900;
	}
	.btn-a {
		color: #191717;
		font-weight: 900;
		text-decoration: none;
		padding: 0 24px;
		line-height: 46px;
		border-radius: 3px;
		border: 1px solid #FA880D;
		display: inline-block;
	}



	.content-row.bg__image .btn-td {
		background-color: transparent;
	}
	.content-row.bg__image .btn-a {
		color: #ffffff;
		text-decoration: none;
		padding: 0 24px;
		line-height: 46px;
		border-radius: 3px;
		border: 1px solid #ffffff;
		display: inline-block;
	}
</style>