@font-face {
  font-family: 'RetroTeam';
  src: url('https://4188535.fs1.hubspotusercontent-na1.net/hubfs/4188535/Thrill-Factory/Retro%20Team.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('https://4188535.fs1.hubspotusercontent-na1.net/hubfs/4188535/Thrill-Factory/Gotham-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

.tv_preview {
  width: 1920px;
  height: 1080px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Gotham', sans-serif;
  font-weight: 700;
  position: relative;
/*   background-image: url('https://4188535.fs1.hubspotusercontent-na1.net/hubfs/4188535/Thrill%20Factory_Menuboard_120524.png') !important; */
}

.tv_preview__bg_video {
  object-fit: cover;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  appearance: none; /* Hide native controls */
  -webkit-apeearance: none;
  pointer-events: none; /* Prevent interaction */
}

.tv_preview__bg_video::-webkit-media-controls {
  display: none !important; /* Hide all controls */
}

.tv_preview__content {
  position: relative;
  z-index: 2;
}

.tv_preview__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 48px 71px 34px;
  font-family: 'Gotham', sans-serif;
}

.tv_preview h1,
.tv_preview h3,
.tv_preview p {
  color: #fff;
  margin-bottom: 0;
}

.tv_preview p {
  font-family: 'Gotham', sans-serif;
}

.tv_preview__heading {
  font-size: 126px;
  font-family: 'RetroTeam', sans-serif;
  line-height: 1;
  margin-top: 6px;
  margin-bottom: 0;
  font-weight: 400;
  text-shadow: 5px 4px #000;
}

.tv_preview__top_logo img {
  width: 225px;
  height: auto;
  object-fit: contain;
}

.tv_preview__top__space {
  width: 225px;
}

.tv_preview__prices {
  display: grid;
  grid-template-columns: 0.95fr 1fr;
}

.tv_preview__col__top {
/*   background-color: #472C84; */
  padding: 12px 12px 12px 50px;
  display: flex;
  align-items: center;
  height: 95px;
  gap: 12px;
  position: relative;
}

.tv_preview__col__top__bg {
  content: '';
  left: 0;
  top: 0;
  width: 95%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: top right;
  background-repeat: no-repeat;
  mix-blend-mode: multiply;
}

.tv_preview__col__top__bg.bg--green {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='873' height='95' viewBox='0 0 873 95' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M-6.10352e-05 94.5469L872.42 94.5469V-0.00312805L-6.10352e-05 -0.00312805V94.5469Z' fill='url(%23paint0_linear_2351_86)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2351_86' x1='872.42' y1='47.2769' x2='-6.10352e-05' y2='47.2769' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='0.12' stop-color='%238EC310' stop-opacity='0.37'/%3E%3Cstop offset='0.17' stop-color='%238EC310' stop-opacity='0.49'/%3E%3Cstop offset='0.26' stop-color='%238EC310' stop-opacity='0.65'/%3E%3Cstop offset='0.35' stop-color='%238EC310' stop-opacity='0.78'/%3E%3Cstop offset='0.46' stop-color='%238EC310' stop-opacity='0.88'/%3E%3Cstop offset='0.58' stop-color='%238EC310' stop-opacity='0.95'/%3E%3Cstop offset='0.73' stop-color='%238EC310' stop-opacity='0.99'/%3E%3Cstop offset='1' stop-color='%238EC310'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: top right;
}

.tv_preview__col__top__bg.bg--purple {
  background-image: url("data:image/svg+xml,%0A%3Csvg width='1022' height='95' viewBox='0 0 1022 95' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_2354_71)'%3E%3Cpath style='mix-blend-mode:multiply' d='M1021.42 0H0V94.55H1021.42V0Z' fill='url(%23paint0_linear_2354_71)'/%3E%3C/g%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_2354_71' x1='0' y1='47.27' x2='1021.42' y2='47.27' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0'/%3E%3Cstop offset='0.12' stop-color='%2343008B' stop-opacity='0.37'/%3E%3Cstop offset='0.13' stop-color='%2343008B' stop-opacity='0.39'/%3E%3Cstop offset='0.28' stop-color='%2343008B' stop-opacity='0.61'/%3E%3Cstop offset='0.44' stop-color='%2343008B' stop-opacity='0.78'/%3E%3Cstop offset='0.6' stop-color='%2343008B' stop-opacity='0.9'/%3E%3Cstop offset='0.78' stop-color='%2343008B' stop-opacity='0.98'/%3E%3Cstop offset='1' stop-color='%2343008B'/%3E%3C/linearGradient%3E%3CclipPath id='clip0_2354_71'%3E%3Crect width='1021.42' height='94.55' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  background-position: top left;
}

.item_side_right .tv_preview__col__top__bg {
  width: 96.5%;
  right: 0;
  left: auto;
}

.tv_preview__col__top .tv_preview__col__top__text,
.tv_preview__col__top img {
  position: relative;
}

.tv_preview__col__top__text h3,
.tv_preview__col__top__text p {
  color: inherit;
}

.item_side_right .tv_preview__col__top {
/*   margin-left: -71px; */
  padding-left: 94px;
  flex-direction: row-reverse;
  justify-content: space-between;
}

/* .item_side_right .tv_preview__col__top img {
  margin-left: -23px;
} */

.tv_preview__col__top h3 {
  font-size: 30px;
  line-height: 1.15;
  margin-bottom: 0;
  font-family: 'Gotham', sans-serif;
}

.tv_preview__col__top p {
  font-size: 17px;
}

.tv_preview__col__items {
  padding-left: 130px;
  padding-top: 39px;
  position: relative;
}

.item_side_right .tv_preview__col__items {
  padding-top: 14px;
}

.tv_preview__col__price {
  display: flex;
  align-items: flex-end;
}

.tv_preview__col__price__title__holder {
  width: 390px;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.tv_preview__col__price {
  font-size: 32px;
  letter-spacing: -0.6px;
}

.tv_preview__col__price__holder {
  margin-bottom: 24px;
}

.tv_preview__col__price__title {
  width: max-content;
  min-width: max-content;
  position: relative;
  line-height: 1.1;
}

.tv_preview__col__price__value {
  line-height: 1.1;
}

.tv_preview__col__price__title__holder::after {
  content: '.........................................................';
  overflow: hidden;
  width: 100%;
  height: 41px;
}

.tv_preview__col__pre_price {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 45px;
  margin-bottom: 15px;
  padding: 1px 12px;
  border-radius: 8px;
  width: max-content;
}

.tv_preview__col__pre_price img {
  object-fit: contain;
  height: 60px;
  margin-top: -20px;
  width: 60px;
}

.tv_preview__col__pre_price p {
  font-size: 16px;
  font-family: 'Gotham', sans-serif;
}

.item_side_right .tv_preview__col__price__holder {
  margin-bottom: 12px;
}

.item_side_right .tv_preview__col__price__title__holder {
  width: 475px;
}

.tv_preview__col__price__description {
  font-size: 17px;
}

.item_side_right .tv_preview__col__price__description {
  margin-bottom: 10px;
}

.package_price {
  position: absolute;
  right: 101px;
  top: 372px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.package_price__box {
  height: 119px;
  width: 40px;
  border: 7px solid #ED1B7F;
  border-left: none;
}

.tv_preview__col__coming_soon {
  align-items: center;
  border-radius: 8px;
  display: flex;
  gap: 6px;
  padding: 1px 12px;
  width: max-content;
  position: absolute;
  left: 102%;
  bottom: 5px;
}

.tv_preview__col__coming_soon svg {
  width: 60px;
  height: 60px;
  margin-top: -20px;
}


