<section class="hero-module hero-module__download">
	<div class="hero-module__inner">
		<div class="container">
			<div class="hero-module__layout">
				<div class="hero-module__brochure--wrapper">
					<div class="hero-module__brochure">
						{% if module.download_brochure.src %}
							{% set sizeAttrs = 'width="{{ module.download_brochure.width }}" height="{{ module.download_brochure.height }}"' %}
							{% if module.download_brochure.size_type == 'auto' %}
							{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
							{% elif module.download_brochure.size_type == 'auto_custom_max' %}
							{% set sizeAttrs = 'width="{{ module.download_brochure.max_width }}" height="{{ module.download_brochure.max_height }}" style="max-width: 100%; height: auto;"' %}
							{% endif %}
							{% set loadingAttr = module.download_brochure.loading != 'disabled' ? 'loading="{{ module.download_brochure.loading }}"' : '' %}
							<img src="{{ module.download_brochure.src }}" alt="{{ module.download_brochure.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
						{% endif %}
					</div>
				</div>
				<div class="hero-module__content--wrapper">
					<div class="hero-module__content text-color__white">
						{{ module.hero_content }}
					</div>
					<div class="hero-module__form">
						{% form
							form_to_use="{{ module.hero_form.form_id }}"
							response_response_type="{{ module.hero_form.response_type }}"
							response_message="{{ module.hero_form.message }}"
							response_redirect_id="{{ module.hero_form.redirect_id }}"
							response_redirect_url="{{module.hero_form.redirect_url}}"
							gotowebinar_webinar_key="{{ module.hero_form.gotowebinar_webinar_key }}"
              follow_up_type_simple='{{ module.follow_up_type_simple }}'
              simple_email_for_live_id='{{ module.simple_email_for_live_id }}'
						%}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>